@page "/"

<div class="px-4 py-5 my-5 text-center hero">
    <img class="d-block mx-auto mb-2" src="/images/discount-pal-logo.svg" alt="discount pal logo">
    <h1 class="display-3 fw-bold">DiscountPal</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">We've teamed up with 100s of online retailers to bring you the best online discounts for all your favourite brands.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign Up</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">See deals</button>
        </div>
    </div>
</div>