@page "/info"

<div class="container text-center">
    <div class="row mx-5-md">
        <h1>Don't worry!</h1>
    </div>
    <div class="row mx-5-md">
        <h1>This is just for fun.</h1>
    </div>
    <div class="row mx-5-md">
        <h3>This website doesn't actually do anything - your username and password were never recorded and never left your browser.</h3>
    </div>
    <div class="row mx-5-md">
        <p>
            The point is to illustrate why it's a <strong>bad idea to re-use usernames and passwords</strong> across different websites and services. It's not just malicious websites (like this one pretends to be) 
            that you have to worry about; if you re-use your credentials across services, and one of those has a breach and your credentials are leaked, hackers now have access to <strong>everything</strong>
            you used the same username and password for. If you use a different password for each site, then they only have access to the one that was leaked.
        </p>
    </div>
    <div class="row mx-5-md">
        <p>If you're worried about your username or password being leaked or used maliciously, you can find out more at <a href="https://haveibeenpwned.com/" style="color:yellow;">Have I Been Pwned</a></p>
    </div>
    <div class="row mx-5-md">
        <p>
            I know it's hard coming up with multiple passwords, but password managers make it eaier - and many are free. Check out some of these:
            <br/><br/>
            <a href="https://bitwarden.com/" style="color:yellow;">BitWarden</a>
            <br/>
            <a href="https://1password.com/" style="color:yellow;">1password</a>
            <br/>
            <a href="https://www.wired.com/story/best-password-managers/" style="color:yellow;">Wired.com rundown of password managers</a>
        </p>
    </div>
</div>
