<div class="d-flex flex-column">
    <div>
        <p style="color:black;">Thanks for sharing your username and password. Checking to see if you have just given me access to:</p>
    </div>
    @foreach (var source in Sources)
        {
            <div class="d-flex flex-row align-items-center my-2">
                @if(@source.IsChecked)
                {
                    <span class="oi oi-check" style="color:green;" />
                }
                else
                {
                    <div class="spinner-border text-primary" role="status" />
                }
                <span class="px-2">@source.Name</span>
            </div>
        }
    </div>

@code {

    List<SMSource> Sources = new List<SMSource>
    {
        new SMSource
        {
            Name = "Facebook",
            IsChecked = false
        },
        new SMSource
        {
            Name = "Instagram",
            IsChecked = false
        },
        new SMSource
        {
            Name = "LinkedIn",
            IsChecked = false
        },
        new SMSource
        {
            Name = "Twitter",
            IsChecked = false
        },
        new SMSource
        {
            Name = "Google",
            IsChecked = false
        },
        new SMSource
        {
            Name = "PayPal",
            IsChecked = false
        },
    };

    public async Task UpdateStatuses()
    {
        var numSources = Sources.Count();

        while (numSources > 0)
        {
            await Task.Delay(1000);
            
            Random rnd = new Random();

            var index = rnd.Next(numSources);
            
            Console.WriteLine(($"Num sources is {numSources} and index is {index}"));
            
            var uncheckedSources = Sources.Where(s => s.IsChecked == false).ToList();

            var checkingSource = uncheckedSources[index];

            checkingSource.IsChecked = true;
            
            Console.WriteLine($"{checkingSource.Name} is checked");
            
            StateHasChanged();

            numSources--;
        }
    }

    private class SMSource
    {
        public string Name;
        public bool IsChecked;
    }

}