<div class="signup-form">
    <EditForm style="color:green;" EditContext=@editContext OnValidSubmit=SignupClicked >
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            @* <label for="username">Email address</label> *@
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">📧</span>
                </div>
                <InputText type="text" class="form-control" placeholder="your@email.com" aria-label="Username" aria-describedby="basic-addon1" id="username" @bind-Value=formModel.Username />
            </div>    
        </div>
    
        <div class="form-group">
            @* <label for="Password1">Password</label> *@
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">🔑</span>
                </div>
                <InputText type="password" class="form-control" id="Password1" placeholder="Password" @bind-Value="formModel.Password" />
            </div>
        </div>
      
        <div class="form-group">
            @* <label for="Password2">Confirm Password</label> *@
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">🔑</span>
                </div>
                <InputText type="password" class="form-control" id="Password2" placeholder="Confirm Password" @bind-Value="formModel.ConfirmPassword" />
            </div>
        </div>
    
        <div class="form-group">
            <label style="color: white;" for="coupon">Referral Code (optional)</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">🎫</span>
                </div>
                <InputText type="text" class="form-control" placeholder="ABC123" aria-label="Referral Code" aria-describedby="basic-addon1" id="coupon" @bind-Value="formModel.coupon" />
            </div>    
        </div>
    
        <div class="mb-2 text-center">
            <button type="submit" class="btn btn-primary" >Give me savings!</button>
        </div>
    </EditForm>
    <p class="small text-center" style="color: white;">
        By signing up you agree to our <a href="javascript:void(0)" style="color: yellow;" @onclick="TermsClicked">Terms & Conditions</a> and <a href="javascript:void(0)" @onclick="PrivacyClicked" style="color: yellow;">Privacy Policy</a>
    </p>
</div>

@code {
    
    [Parameter]
    public EventCallback OnSignupClicked { get; set; }
    
    [Parameter]
    public EventCallback OnTermsClicked { get; set; }
    
    [Parameter]
    public EventCallback OnPrivacyClicked { get; set; }

    private EditContext editContext;

    private FormModel formModel = new FormModel();

    protected override void OnInitialized()
    {
        editContext = new EditContext(formModel);
    }
    
    private async void SignupClicked()
    {
        await OnSignupClicked.InvokeAsync(null);
    }

    private async void TermsClicked()
    {
        await OnTermsClicked.InvokeAsync(null);
    }

    private async void PrivacyClicked()
    {
        await OnPrivacyClicked.InvokeAsync(null);
    }

    private class FormModel
    {
        [Required]
        [EmailAddress(ErrorMessage = "Please enter a valid email address")]
        public string Username {get;set;}

        [Required]
        public string Password {get;set;}

        [CompareProperty("Password")]
        public string ConfirmPassword {get;set;}

        public string coupon { get; set; }
    }
}